# General
.DS_Store
Thumbs.db
._*

# VS Code
.vscode/
*.code-workspace

# Environment
.env

echo "venv/" >> .gitignore
echo "node_modules/" >> .gitignore
echo "*.pkl" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
