# Frontend Environment Variables
# For local development:
# VITE_API_URL=http://127.0.0.1:8000/api
# For production (Render):
VITE_API_URL=https://https://project-aquanex-xtn5.onrender.com/api

# Backend Environment Variables
SECRET_KEY=django-insecure-example-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,project-aquanex.onrender.com
DATABASE_URL=sqlite:///db.sqlite3
