# Frontend Environment Variables
VITE_API_URL=http://127.0.0.1:8000/api

# Backend Environment Variables
SECRET_KEY=django-insecure-example-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,project-aquanex.onrender.com
DATABASE_URL=sqlite:///db.sqlite3
